[Desktop Entry]
Name=Simple chess
Exec=nodegui-simple-starter
Terminal=false
Type=Application
Comment=A NodeGui application
Categories=System;X-GNOME-Utilities;
Icon=simplechess
