[Desktop Entry]
Name=Simple chess
Exec=simple-chess
Terminal=false
Type=Application
Comment=A simple chess application
Categories=Game;
Icon=simplechess
