[Desktop Entry]
Name=Simple chess
Exec=simplechess
Terminal=false
Type=Application
Comment=A simple chess application
Categories=Game;
Icon=simplechess
